
<div class="btn-group">

    <a href="{{ path('admin_mailing_modelmailing_appercu',{id:object.id}) }}" target="_blank" class="btn btn-sm btn-default view_link" title="Afficher">
        <i class="glyphicon glyphicon-zoom-in"></i>
        Afficher
    </a>
</div>