
<div class="btn-group">

    <a href="{{ path('admin_mailing_modelmailing_send',{id:object.id}) }}" class="btn btn-sm btn-default view_link" title="Afficher">
        <i class="glyphicon glyphicon-envelope"></i>
        Envoyer
    </a>
</div>