
<div class="btn-group">

    <a href="{{ path('admin_mailing_modelmailing_sendtest',{id:object.id}) }}" class="btn btn-sm btn-default view_link" title="Afficher">
        <i class="glyphicons glyphicon-send"></i>
        Tester
    </a>
</div>