
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ template.title }}</title>
    <style>BODY,TD {FONT-SIZE: 10pt; FONT-FAMILY: tahoma}</style>
</head>
<body>
<br>
<div align="center">
    <table border="0" width="600" id="table1" cellspacing="1" bgcolor="#C0C0C0">
        <tr>
            <td bgcolor="#FFFFFF">
                {{ template.template|raw }}
            </td>
        </tr>
    </table>
</div>

</body>
</html>
