<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="restez-connecte text-uppercase text-center">
                        Restez <b>connecté !</b>
                    </div>
                    <p class="text-center">
                        Restez informés en temps réel des nouveautés, bons plans, etc...<br/>
                        en vous abonnant à notre newsletter
                    </p>

                    <div class="form-group newsletter">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Votre mail" tabindex="4">
                        </div>
                    </div>

                    <div class="social text-center">
                        {% for item in social %}
                        <a href="{{ item.link }}" class="{{ item.icon }}" aria-hidden="true"></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-middle">
        <div class="text-center explorez-tous-nos-produits">Explorez tous nos produits</div>
        <div class="container">
            <div class="categories">
                <ul>
                    <li><a href="#">Fournitures Bureautique</a></li>
                    <li><a href="#">Cartes de Visite</a></li>
                    <li><a href="#">Papier Entête</a></li>
                    <li><a href="#">Ordonnances Médicales</a></li>
                </ul>
                <ul>
                    <li><a href="#">Dossiers Cartonnés</a></li>
                    <li><a href="#">Porte Documents</a></li>
                    <li><a href="#">Emballages Cartonnés</a></li>
                    <li><a href="#">Emballages Souples</a></li>
                </ul>
                <ul>
                    <li><a href="#">Flyers</a></li>
                    <li><a href="#">Affiches</a></li>
                    <li><a href="#">Dépliants</a></li>
                    <li><a href="#">Agendas</a></li>
                </ul>
                <ul>
                    <li><a href="#">Calendriers</a></li>
                    <li><a href="#">Enveloppes</a></li>
                    <li><a href="#">Catalogues</a></li>
                    <li><a href="#">Factures Continues</a></li>
                </ul>
                <ul>
                    <li><a href="#">Menu Restaurants</a></li>
                    <li><a href="#">PLV</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ul class="list-inline footer-adress">
                        <li class="home">40 Rue du Koweit 1002 Tunis - Tunisie</li>
                        <li class="tel">TEL: +216 71 834 334</li>
                        <li class="mob">Mob: +216 23 200 718</li>
                        <li class="fax">FAX: +216 71 834 103</li>
                    </ul>
                </div>
                <div class="col-md-3 copyright">
                    © 2015 | Tous droits réservés
                </div>
            </div>
        </div>
    </div>
</footer>
