{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

                var $inputs = $('input[id$=_picture]') ;
                $.each($inputs, function (indec,element) {
                    var id = $(element).attr('id');
                    var html = htmlbt(id);
                    $(element).after(html);
                })

        })
        function htmlbt(id){
            var html = '';
            html +=' <span class="input-group-addon">';
            html +=' <a class="iframe-btn" href="/tinymce/plugins/filemanager/dialog.php?type=2&amp;field_id='+id+'"><i class="icon-upload bigger-110"></i>image</a>';
            html +='</span>';
            return html;
        }
    </script>
{% endblock %}