{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.file != null %}
            <img src="{{ asset('uploads/png/'~object.jpgfile) }}" class="img-responsive" width="150">
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}