<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        TD,BODY
        {
            FONT-SIZE: 11px;
            FONT-FAMILY: Tahoma,verdana,Georgia;
        }
    </style>

</head>

<body>
<p>Bienvenue dans votre Espace Clients !&nbsp; ,<br>
    <br>
    Chère Cliente, Cher Client,  Votre compte a été créé avec succès. Accédez à votre compte via les paramètres  ci-dessous :</p>
<table border="0" width="50%" id="table216">
    <tr>
        <td colspan="2" bgcolor="#0099CC">
            <p align="center"><font color="#FFFFFF"><b>Param&egrave;tres de votre compte</b></font> </td>
    </tr>
    <tr>
        <td bgcolor="#ECF5FF" align="right">Login :</td>
        <td>{{ login }}</td>
    </tr>
    <tr>
        <td bgcolor="#ECF5FF" align="right">Mot de passe :</td>
        <td>{{ password }}</td>
    </tr>
    <tr>
        <td bgcolor="#ECF5FF" align="right">Adresse:</td>
        <td><a href="http://{{ app.request.server.get('SERVER_NAME') }}/b2b">http://{{ app.request.server.get('SERVER_NAME') }}/b2b</a></td>
    </tr>
    <tr>
        <td bgcolor="#0099CC" align="right" colspan="2" height="2"></td>
    </tr>
</table>

<p>Cordialement<font color="#808080"><br>

        <font color="#808080">( ceci est un message automatique )</font></p>
</body>

</html>