{% extends '::base.html.twig' %}
{% block body %}


    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Accueil</a></li>
            <li class="active">Nos produits</li>
        </ol>
    </div>

    <div class="page-title">
        <div class="container">
            <h2 class="text-right text-uppercase">Nos <b>produits</b></h2>
        </div>
    </div>

    <div class="container nos-produits">
        <div class="row">
            {% for item in products %}
            <div class="col-md-3">
                <div class="item">
                    {% set slug = item.name|slugifier %}
                    <a href="{{ path('boutique_detail',{id:item.id,slug:slug}) }}">
                        <img src="{{ asset(item.picture) }}" alt="Image">
                        <div class="item-content " style="background: {{ item.color }}">{{ item.name }}</div>
                    </a>
                </div>
            </div>
                {% endfor %}

        </div>
       <!-- <div class="row load-more">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>-->
    </div>

{% endblock %}